body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  padding: 30px;
  color: rgb(0, 0, 0);
  background-image: url('./img/image.jfif');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(170, 255, 255);
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
  max-width: 100px;
  margin: 0 auto 300px;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  border-radius: 10px;
}

button {
  background-color: #333974;
  color: #FFF;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todo {
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: #d62020;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}

.filter,
.search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
  background-color: rgb(226, 216, 216);
  padding: 20px;
  border-radius: 50px;
}

div {
  margin-bottom: 15px;
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 30px;
}


form input {
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #000000;
}


form button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

form button:hover {
  background-color: #5b4cb1;
}

.labelform {
  padding: 20px;
  text-align: center;
}
